*{
  margin:0px;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
  width: 100vw;
}
#main{
  height: 100vh;
  width:0vh;
}
#main1 {
  height: 100vh;
  width: 100vw;
}
#pic{
  height: 100vh;
  width: 100%;
  background-image:url(hi.png);
  background-size: cover;
  background-position: center;
}
#nap{
height: 10vh;
width: 100%;
display: flex;
justify-content: space-between;
}
#napunder-div1{
height: 10vh;
width: 15vh;
}

#napunder-div2{
height: 10vh;
width: 25vw;
display: flex;
justify-content: space-around;
}
#pro{
 height: 10vh;
 width: 8vw;
}
#TU{
color: white;
margin-left: 2vh;
margin-top: 2vh;
}
#RA{
color: white;
margin-left: 2vh;
}
#pro{
color: white;
}
#pro h3{
margin-top: 3vh;
font-size: 1.5vh;
transition:font-size 1s,color 1s ease-in-out;
}
#pro h3:hover{
font-size: 2vh;
transform: translateX(-5px);
cursor: grab;
color: tomato;
}
#TURA{
color: white;
 margin-left: 60vh; 
margin-top: 28vh;
font-size: 10vh;
}
#TURA span{
transition:font-family 1s,color 0.4s ease-in-out;
}
#T:hover{
font-family: "Tiny5", sans-serif;
color:red;
}
#U:hover{
font-family: "Roboto Slab", serif;
color: darkblue;
}
#R:hover{
font-family: "Libre Barcode 128 Text", system-ui;
color: rgb(243, 243, 181);
}
#A:hover{
font-family: "Jacquard 12", system-ui;
color: cyan;
}
#AJ span{
height: 10vh;
width: 8vh;
color: white;
font-family: Arial;
margin-left: 90vh;
}
#WD span{
height: 10vh;
width: 8vh;
font-family: Arial;
margin-left: 93vh;
color: white;
}
#unap{
height:25vh;
width: 100vw;
margin-top: 7vh;
display: flex;
justify-content: space-between;
}
#unap-div1{
height: 20vh;
width:30vh;
font-size: 3vh;
margin-left: 4vh;
}
.spg{
height: 5vh;
width: 8vh;
color: white;
transition: font-size 0.5s,color 0.7s,transform 0.5s  ease-in-out ;
}
.spg a{
text-decoration: inherit;
color: inherit;
}
#facebook:hover{
font-size: 5vh;
color: skyblue;
transform:translateY(3px);
}
#twitter:hover{
font-size: 5vh;
color: black;
transform:translateY(3px);
}
#git:hover{
font-size: 5vh;
color:gray;
transform:translateY(3px);
}

#unap-div2{
height: 25vh;
width:30vh;

}
#sc{
height: 3vh;
width: 3vh;
color: white;
rotate: 90deg;
margin-left: 20vh;
}
#l{
height: 6vh;
width: 1px;
background-color:white ;
margin-left:21.5vh ;
margin-top: 7vh;
}
#m{
margin-left:20.5vh;
font-size: 2.7vh;
margin-top: 1.5vh;
color: white;
}
#main2{
height: 100vh;
width: 100vw;
}
#pic2{
  height: 100vh;
  width: 100%;
 background-image:url(hi.png);
 background-size: cover;
 background-position: center;
}
#mom{
  height: 40vh;
  width: 60vw;
  margin-left: 35vh;
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.boss{
  height: 40vh;
  width: 35vh;
}
#as1{
  background-repeat: no-repeat;
  transition: height 0.8s,width 1.2s,box-shadow 1.2s ease-in-out
}
#as1 img{
  height: 40vh;
  width: 35vh;
  z-index: 1;
  transition: height 0.8s,width 1.2s,transform 0.8s ease-in-out;
  border-radius: 10px;
}
#blur1{
  height: 40vh;
  width: 35vh;
  z-index: 4;
  background-color: rgba(0, 255, 255, 0.113);
  position: absolute;
  bottom: -60vh;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: height 0.8s,width 0.8s,transform 0.8s ease-in-out;
}
#blur11{
  height: 1vh;
  width: 35vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.078),rgba(255, 255, 255, 0));
  color: white;
  margin-top:30vh;
  position: absolute;
  bottom: -60vh;
  z-index: 5;
  visibility: hidden;
  transition: height 0.8s ease-in-out;
}
#as1:hover #blur1{
  backdrop-filter: inherit;
 background-color: rgba(0, 255, 255, 0);
 height:42vh;
 width: 41vh;
 transform: translateX(-10px); 
}
#as1:hover #blur11{
  height: 5vh;
  visibility: visible;
}
#as1:hover img{
  height: 45vh;
  width: 40vh;
  transform: translateX(-10px);
}
#as2 img{
  height: 40vh;
  width: 35vh;
  position: absolute;
   z-index: 2;
   border-radius: 10px; 
  transition:transform 0.8s ease-in-out;
}
#blur2{
  height: 40vh;
  width: 35vh;
  z-index: 4;
  border-radius: 10px;
  background-color: rgba(0, 255, 255, 0.113);
  position: absolute;
  bottom: -60vh;
  backdrop-filter: blur(10px);
  transition: height 0.8s,width 0.8s,transform 0.8s ease-in-out;
}
#kc{
  height: 5vh;
  width: 35vh;
  position: absolute;
  bottom: -60vh;
  z-index: 0;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
#kc h1{
  font-family: "DM Serif Text", serif;
  letter-spacing: 0.6vh;
  font-size: 4.5vh;
  color: white;
}
#as2:hover #blur2{
  height: 40vh;
  width: 35vh;
  background-color: rgba(0, 255, 255, 0.113);
  backdrop-filter: inherit;
  transform: translateY(-40px);
}
#as2:hover img{
transform: translateY(-40px);
}
#as2:hover #kc {
visibility: visible;
z-index: 1;
}
#as3 img{
  height: 40vh;
  width: 35vh;
  z-index: 1;
  border-radius: 10px;
  transition: height 0.8s,width 1.2s,transform 0.8s ease-in-out;
}
#blur3{
  height: 40vh;
  width: 35vh;
  border-radius: 10px;
  z-index: 4;
  background-color: rgba(0, 255, 255, 0.113);
  position: absolute;
  bottom: -60vh;
  backdrop-filter: blur(10px);
  transition: height 0.8s,width 0.8s,transform 0.8s ease-in-out;
}
#blur33{
  height: 1vh;
  width: 35vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.078),rgba(255, 255, 255, 0));
  color: white;
  margin-top:30vh;
  position: absolute;
  bottom: -60vh;
  z-index: 5;
  visibility: hidden;
  transition: height 0.8s ease-in-out;
}
#as3:hover #blur3{
  backdrop-filter: inherit;
  background-color: rgba(0, 255, 255, 0);
  height:40vh;
  width: 35vh;
  transform: translateX(-10px); 
}
#as3:hover #blur33{
  height: 5vh;
  visibility: visible;
}
#as3:hover img{
  height: 40vh;
  width: 35vh;
  transform: translateX(-10px);
}
#mom1{
  height: 27vh;
  width: 100vw;
  display: flex;

}
#hnap{
  height: 27vh;
  width: 13vh;
  margin-left:6vh;
  font-size: 3vh;
  margin-top: 5vh;
}
#context{
  height: 15vh;
  width: 120vh;
  margin-left: 19vh;
  margin-top: 6vh;
  color: white;
}
#vp button{
  background-image: url(hi.png);
  color: white;
  height: 7vh;
  width: 30vh;
  margin-left: 40vh;
  margin-top: 2vh;
  color: white;
}
#vp:hover button{
  box-shadow: rgba(146, 143, 143, 0.25) 0px 14px 28px, rgba(138, 135, 135, 0.22) 0px 10px 10px;
}
#mom-div2{
  margin-top: 4vh;
  padding-right: 7vh;
}
#main3{
  height: 100vh;
  width: 100vw;
}
#pic3{
  height: 100vh;
  width: 100%;
  background-image:url(hi.png);
  background-size: cover;
  background-position: center;
}
#contact{
  height: 80vh;
  width: 100vw;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-between;
}
.buddy{
  height: 70vh;

  width: 40vw;
  margin-left: 20vh;
  margin-top: 5vh;
  /* background-color: red; */
}
#con{
 margin-left: 25vh;
 margin-top: 8vh;
 font-family: arial;
 color: white;
}
#con-1{
  color: white;
  width: 35vw;
  margin-left: 4vh;
  margin-top: 5vh;
}
#address{
  margin-left: 27vh;
  font-family: arial;
 color: white;
 margin-top: 4vh;
}
#Ad{
  margin-left: 7vh;
  margin-top: 2vh;
  color: white;
}
#phone{
  margin-left: 29vh;
  margin-top: 3vh;
  font-family: arial;
  color: white;
}
#ph{
  margin-left: 27vh;
  margin-top: 1vh;
  color: white;
}
#email{
  margin-left: 29vh;
  margin-top: 2vh;
  font-family: arial;
  color: white;
}
#em{
  margin-left: 24vh;
  margin-top: 1vh;
  color: white;
}
#contact-2{
  background-image: url(hi.png);
  margin-right: 7vh;
  margin-top: 5vh;
  box-shadow:  rgba(255, 255, 255, 0.25) 0px 5px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#cf{
  margin-top: 2vh;
  color: white;
  font-family: arial;
  margin-left: 20vh;
}
.foko{
  margin-top: 5vh;
  
  border: none;
  border-bottom: 0.1vh solid;
  
  border-color: rgb(255, 255, 255);
}
.foko input{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: rgb(252, 252, 252);
  font-weight:600;
}
.foko input::placeholder{
  color: aliceblue;
}
#foko{
  /* background-color: blue; */
  height: 30vh;
  width: 60vh;
  margin-top: 8vh;
  margin-left: 9vh;
}

#sm{
margin-top: 10vh;
}
#sm button{
  color: aliceblue;
  height: 6vh;
  width: 10vw;
  margin-left: 28vh;
  background-image: url(hi.png);
  border: none;
  box-shadow: rgba(250, 246, 246, 0.05) 0px 4px 16px, rgba(255, 255, 255, 0.05) 0px 8px 32px;
}
body::-webkit-scrollbar{
  display: none;
}






